// default input
.inputs input {
  box-sizing: border-box;
  //   position: absolute;
  width: 200px;
  height: 56px;
  //   left: 317px;
  //   top: 180px;
  border: 1px solid #828282;
  border-radius: 8px;
  padding-left: 12px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.inputs input:hover {
  border: 1px solid #333333;
}
.inputs input:focus {
  border: 1px solid #2962ff;
}
.inputs input:focus-visible {
  outline: #2962ff auto;
}
.inputs input::placeholder {
  color: #828282;
  padding-left: 8px;
}

// error input
.inputs .error {
  border: 1px solid #d32f2f;
}
.inputs .error:hover {
  border: 1px solid #333333;
}
.inputs .error:focus {
  border: 1px solid #d32f2f;
}
.inputs .error:focus-visible {
  outline: #d32f2f auto;
}

// disabled

.inputs .disabled:disabled {
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
}

// helper text

.inputs .label {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.inputs .label.text-muted {
  color: #828282;
}

.inputs .label.text-danger {
  color: #d32f2f;
}

// starIcon && endIcon

.inputs .material-icons.startIcon {
  position: absolute;
  width: 12%;
  height: 12%;
  margin-top: 19px;
  margin-left: 5px;
}

.inputs .material-icons.endIcon {
  width: 15%;
  height: 10%;
  margin-top: -43px;
  padding-left: 88%;
}
.inputs .styled-div input,
.inputs .styled-div input {
  padding-left: 15px;
}
// sizing

.inputs .sm {
  width: 200px;
  height: 40px !important;
  background-color: unset;
}

.inputs .md {
  width: 200px;
  height: 56px !important;
  background-color: unset;
}
.inputs .fullwidth {
  width: -webkit-fill-available;
  height: 56px;
}

// multiline

.inputs textarea {
  box-sizing: border-box;
  //   position: absolute;
  width: 200px;
  height: 150px;
  //   left: 317px;
  //   top: 180px;
  border: 1px solid #828282;
  border-radius: 8px;
  padding-left: 12px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.inputs textarea:hover {
  border: 1px solid #333333;
}
.inputs textarea:focus {
  border: 1px solid #2962ff;
}
.inputs textarea:focus-visible {
  outline: #2962ff auto;
}
.inputs textarea::placeholder {
  color: #828282;
  padding-left: 8px;
}
// box
.styled-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
