.links {
  display: flex;
  justify-content: center;
}
.active {
  color: black;
}
@media (max-width: 925px) {
  .mainSideNav {
    height: 20vh;
    position: unset;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .links {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-around;
      width: inherit;
    }
  }
}

@media (max-width: 624px) and (min-width: 320px) {
  .mainSideNav {
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .header {
      padding: 19px 0px 0px 0px;
    }
    .links {
      display: flex;
      justify-content: space-around;
      width: 100vw;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-around;
        width: inherit;
      }
    }
  }
}
