body {
  padding: 0;
  /* display: -webkit-inline-box; */
}
/* material ui icon */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 17px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* core code */
.d-flex {
  display: flex;
}
.w-15 {
  width: 15%;
}
.w-85 {
  width: 85%;
}
.w-10 {
  width: 10%;
}
.w-90 {
  width: 90%;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.text-orange {
  color: orange;
}
.d-flex {
  display: flex;
}
.padding-auto {
  padding: 40px 10px 40px 10px;
}

.justify-content-around {
  justify-content: space-around;
}
.list-style-none {
  list-style: none;
}
.line-height-3em {
  line-height: 3em;
}
.p-0 {
  padding: 0;
}
.ml-28 {
  margin-left: 28%;
}

.bg-whitesmoke-hovered:hover {
  color: black;
}
.cursor-pointer {
  cursor: pointer;
}
.text-padding-auto {
  padding: 7px 59px 7px 39px;
}
.br-5px {
  border-radius: 5px;
}
.text-center {
  text-align: center;
}
.border-right {
  border-right: 1px solid #efefef;
}
.font-style-paragraph {
  font-size: 14px;
  font-weight: 500;
  font-family: fangsong;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.h-100 {
  height: 100vh;
}
.position-fixed {
  position: fixed;
}
.bg-white {
  background-color: #fafbfd;
}
.text-muted {
  color: #9e9e9e;
}
.ml-auto {
  margin-left: auto;
}
.w-80 {
  width: 80%;
}
.m-auto {
  margin: auto;
}

.pt-5 {
  padding-top: 5%;
}

.font-weight-500 {
  font-weight: 500;
}

.mb-0 {
  margin-bottom: 0;
}

.m-0 {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.gap-24 {
  gap: 24px;
}

@media (max-width: 925px) and (min-width: 320px) {
  .main {
    flex-direction: column;
  }
  #button-section > div {
    width: 100%;
    /* padding-top: 20em; */
  }
  .ml-auto{
    margin-left: 1em;
  }
  .four-box {
    display: flex;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .four-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
